    <li>
      <%= attachment_image_tag user, :image, :fill, 30, 30, fallback: "rails.png", size: "30x30" %>
      <%= link_to user.name, user_path(user) %>  
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </li>